.search-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
    padding-left: 70px;
    input {
        width: 400px;
        padding: 18px;
        background-color: white;
        border: none;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &::placeholder {
            padding: 10px;
        }
    }
}